.performance {
  font-size: 1.85em;
  margin: 0;
}

.logo-info p {
  font-family: Avenir Next UltraLight;
  font-size: 1.3em;
  text-align: center;
}

#arHeader {
  position: relative;
}

#arFooter {
  width: 100%;
}

#arContainer {
  background-color: #3e3141;
}

.ar-container {
  width: 100%;
  margin: 0 auto;
}

#arNavSm, #arNavWrap, .widget-title, .widget_calendar caption, .widget_calendar td, .widget_calendar th {
  text-align: center;
}

app-rubriques {
  display: flex;
  flex-direction: column;
}

.ar-wrapper {
  position: relative;
}

#arSideBoxWrap {
  margin-bottom: 30px;
  padding-top: 3rem;
}

#arSideBox {
  transition: top .3s ease-out;
}

  #arSideBox .ar_widget_card {
    padding: 0;
  }

  #arSideBox .widget {
    padding: 20px;
    margin: 0;
  }

.widget {
  font-size: .875em;
  margin-bottom: 35px;
}

  .widget ul {
    margin: 0;
    padding: 0;
  }

.ar-card {
  padding: 5px 0 0;
}

.ar-card-avatar {
  position: relative;
  width: 15rem;
  margin: 5% auto;
  background: #27272b;
}

.img-logo {
  padding: 10px;
  margin-top: 10px;
  width: 57%;
}

#logo-name-img path {
  fill: #98888b;
}

.brightness {
  -webkit-filter: brightness(5);
  filter: brightness(5);
}

.ar-avatar-state, .ar-card-avatar span {
  display: inline-block;
  width: 210px;
  height: 210px;
}

.avatar-195 {
  width: 195px;
  height: 195px;
}

.avatar {
  border-radius: 50%;
}

.ar-avatar-state2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-out,visibility .2s ease-out;
}

.ar-card-avatar + .ar-card-info {
  margin-top: 33px;
}

.ar-card-info h2 {
  font-size: 1.625em;
  margin-bottom: .688em;
}

.ar_widget_card .text-muted {
  font-size: 1.143em;
}

.text-muted {
  color: #ababab;
}


.ar-social {
  margin: 22px -12px;
}

  .ar-social li {
    margin: 5px 12px;
    display: inline-block;
    vertical-align: middle;
  }

  .ar-social .ar-icon {
    font-size: 1.25em;
  }

.ar-side-box-1 #sticky-widget-inner {
  background-color: #313C42;
}

#arNavWrap {
  float: right;
  right: 55px;
  z-index: 4;
  width: 56px;
}

.ar-container-sm {
  padding-left: 20px;
  padding-right: 20px;
  display: contents;
}

.ar-paper-layers {
  margin-top: 15px;
}

.ar-paper-cont {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ar-paper-layers.ar-animated {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
  transition: transform .3s ease-out .1s,opacity .3s ease-out .1s;
  transition: transform .3s ease-out .1s,opacity .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
}

.crt-paper-layers {
  float: left;
  width: 100%;
}

.hide-on-init {
  opacity: 0;
}

.rubrique {
  padding: 10px;
  background-color: #27272b;
  overflow: hidden;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.buttons {
  position: absolute;
  right: 40px;
  top: 20px;
}

@keyframes allblink {
  0% {
  }

  50% {
    background-color: #98888b;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: flex-end;
}
.nav {
  margin-bottom: 4px;
  font-size: .81em;
  width: 42%;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #9e6a83;
  font-weight: 700;
}
a:hover {
  color: #9e6a83;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
.nav-tabs .nav-link.active:hover {
  border-color: #dee2e6 #dee2e6 #fff;
}
h2 {
  margin-top: 7px;
  margin-bottom: 0;
  width: 50%;
  text-align: center;
}
h2, dt {
  color: white;
}


.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  color: #fff;
  opacity: 1;
}

#service-modal-content {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column-reverse;
  font-size: .9rem;
  padding: 5px;
}

.modal-carousel {
  width: 100%;
  height: unset;
  padding-left: 0;
}

.carousel-item-description ul {
  list-style-type: circle;
}

.carousel-indicators {
  top: 0;
}

.carousel-control-next, .carousel-control-prev {
  width: unset;
}

li i {
  font-size: 2rem;
  padding-bottom: 5px;
}

.accordion-item i {
  font-size: 1.5rem;
  position: absolute;
  left: 34px;
  padding-top: 15px;
}

li h6 {
  font-size: .7rem;
  padding-bottom: 5px;
}

.carousel-indicators li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  text-indent: unset;
}

.carousel-item {
  width: 100%;
}

.carousel-item-body {
  margin-top: 50px;
}

.card {
  border-radius: 2rem;
  background: url('../../../../assets/img/background.png') no-repeat;
  border: unset;
}

.card-header:first-child {
  border-radius: 2rem 2rem 0 0;
}

.card-header {
  background-color: rgb(115, 38, 77);
  border-bottom: none;
}


.carousel-item-body h5 {
  padding: 25px 0 15px 0;
  font-size: 1.1rem;
}

dd {
  margin-bottom: 3rem;
}

  dd:last-child {
    margin-bottom: 0;
  }


.priceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: .7rem;
  margin: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,1),0 2px 10px 0 rgba(0,0,0,.1) !important;
  max-width: 300px;
}

  .priceList i {
    opacity: 1;
  }

  .priceList span {
    text-align: center;
  }

.modal-info {
  display: flex;
}

.info {
  padding: 20px 0;
  width: 40%;
}

.info:first-child {
  width: 60%;
  padding: 20px 20px 20px 0;
}

.modal-info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0 0;
  margin-bottom: 0;
  align-items: center;
  position: relative;
  top: 25%;
}

.modal-info .first-subtitle {
  font-size: .8rem;
  font-weight: bold;
}

.modal-embed-iframe, .modal-embed-image, .modal-embed-video {
  width: 96%;
  padding-top: 50%;
  position: relative;
  margin-bottom: 25px;
}
  .modal-embed-iframe iframe, .modal-embed-image img, .modal-embed-video video {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

.slick-track {
  display: flex;
  flex-direction: row;
}

.gray {
  color: #888686;
}

.tab-pane {
  padding: 5px;
}

label {
  cursor: pointer;
  font-size: 1.3em;
}

  label:hover {
    color: #9e6a83;
  }

    label:hover:before {
      background: #9e6a83;
    }

  label:before {
    text-align: center;
    content: counter(li);
    border: 7px solid #73264d;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 35px;
    font-size: 28px;
    margin: 0 0.5em 0 0;
    color: transparent;
  }

.css-accordion {
  list-style-type: none;
  counter-reset: li;
  padding: 20px 0;
}

  .css-accordion .accordion-item {
    counter-increment: li;
    padding: 0;
    margin: 0;
  }

    .css-accordion .accordion-item .item-content-container {
      border-left: 10px solid #73264d;
      padding: 6px 0;
      margin: -10px 0 -2px 20px;
    }

      .css-accordion .accordion-item .item-content-container .item-content {
        background: #eee;
        padding: 0 1em;
        overflow: hidden;
        margin: 0 0 0 36px;
        border-radius: 10px;
        color: #343a40;
        box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.9);
      }

        .css-accordion .accordion-item .item-content-container .item-content p {
          margin: 0.5em 0;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        }

    .css-accordion .accordion-item input[type=radio] {
      display: none;
      /*---- End &:checked ----*/
    }

      .css-accordion .accordion-item input[type=radio] ~ .item-content-container {
        overflow: hidden;
      }

        .css-accordion .accordion-item input[type=radio] ~ .item-content-container .item-content {
          height: 0;
          transition: all 0.3s linear;
        }

      .css-accordion .accordion-item input[type=radio]:checked ~ .item-content-container {
        height: auto;
        overflow: visible;
      }

        .css-accordion .accordion-item input[type=radio]:checked ~ .item-content-container .item-content {
          height: auto;
          overflow-y: auto;
          transition: all 0.5s linear;
          padding: 10px;
        }

      .css-accordion .accordion-item input[type=radio]:checked + i + label {
        color: white;
      }

        .css-accordion .accordion-item input[type=radio]:checked + i + label:before {
          background: #9e6a83;
        }
      .css-accordion .accordion-item input[type=radio]:checked + i {
        color: white;
      }
/*---- End .css-accordion ----*/

@media (min-width: 1200px) {
  .modal-content {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .card {
    background-attachment: fixed;
  }
  .ar-container-sm {
    margin-left: 330px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (min-width: 992px) {
  #arNavScroll {
    position: fixed;
  }

  .modal-content {
    max-width: 900px;
  }

  .modal-body {
    flex-direction: column;
  }
  .tab-content, .css-accordion {
    overflow: hidden;
  }

  .ar-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ar-paper-layers:first-child {
    margin-top: 0;
  }

  .ar-paper-layers {
    position: relative;
    z-index: 0;
  }

  .ar-paper-cont {
    float: left;
    width: 100%;
  }

  .ar-paper-cont {
    padding-left: 20px;
    padding-right: 20px;
  }

  #arContainer {
    background-color: transparent !important;
  }

  .ar-side-box-on.ar-nav-on .ar-container {
    max-width: 1196px;
  }

  .ar-side-box-on .ar-container {
    max-width: 1140px;
  }

  .ar-side-box-on .ar-container-sm {
    margin-left: 310px;
  }

  .ar-nav-on .ar-container-sm {
    margin-right: 56px;
  }

  .ar-nav-on .ar-container {
    max-width: 866px;
  }

  .ar-container {
    max-width: 810px;
  }

  .ar-container-sm {
    padding-left: 0;
    padding-right: 0;
    display: inherit;
  }

  #arSideBoxWrap {
    position: fixed;
    width: 290px;
    float: left;
    margin-top: 25px;
    padding-top: inherit;
  }

  #arSideBox .ar-side-box-1, #arSideBox .ar-side-box-2 .widget {
    margin-bottom: 30px;
    box-shadow: -4px 7px 15px 1px rgba(0,0,0,.2);
  }

  .ar-side-box-on .ar-paper-layers {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .btn-action-primary {
    font-size: 0.8rem;
  }
  .modal-info {
    flex-direction: column;
  }
  .info:first-child {
    width: inherit;
    padding: 20px 0;
  }
  .info {
    padding: 20px 0;
    width: 100%;
  }
  .buttons {
    line-height: 110px;
    top: -15px;
  }
  .tab-content, .css-accordion {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 700px;
  }

  .carousel-item {
    padding-left: 6%;
    padding-right: 6%;
  }

  .modal-body {
    padding: 1rem;
    min-height: 600px;
  }

  #service-modal-content {
    padding: 40px 30px 0;
  }

  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

@media (max-width: 768px) {
  .ar-nav li {
    margin-bottom: 0;
  }

  .ar-nav .fa {
    font: 23px/1.7 FontAwesome;
  }

  #service-content {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    background: inherit;
    border-radius: inherit;
    padding: 30px 0 0;
  }

  .buttons {
    position: fixed;
    width: 100%;
    right: inherit;
    top: inherit;
    bottom: 0;
    padding: 5px;
    background: black;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .header {
    position: relative;
    flex-direction: column;
    padding: 20px 10px 0;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 30px;
    width: 100%;
    font-size: 1.3rem;
  }

  .nav {
    font-size: .9em;
    width: 100%;
    margin-bottom: inherit;
  }

  .modal-info {
    flex-direction: column;
  }

  .info:first-child {
    width: 100%;
    padding: 20px 0;
  }

  .info {
    width: 100%;
    padding: 20px 0;
  }

  .modal-carousel{
    margin-top: 25px;
  }

  .css-accordion .accordion-item .item-content-container .item-content {
    margin: 0 0 0 15px;
  }

  .accordion-item i {
    font-size: 1rem;
    left: 12px;
    padding-top: 12px;
  }

  label {
    font-size: 1rem;
  }

  label:before {
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 1rem;
    border: 4px solid #73264d;
  }
  .css-accordion .accordion-item .item-content-container {
    border-left: 5px solid #73264d;
    margin: -10px 0 -2px 18px;
  }

  .css-accordion {
    padding: 0;
    position: relative;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .buttons {
    line-height: 65px;
  }
  .btn-action, .btn-action-primary {
    font-size: .6rem;
    width: 90px;
  }
}
