<button type="button" class="close modal-close" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
<div id="temoignage-modal-content">
  <div class="header">
    <h2>{{ title | uppercase }}</h2>
  </div>
  <div class="modal-body">
    <div class="form">
      <form [formGroup]="testimonialForm" #f="ngForm" (ngSubmit)="execute();" class="needs-validation" [ngClass]="{'form-submit' : success === true}" novalidate>
        <div class="flex-row">
          <div class="form-group controls-inline flex-row">
            <input type="text" class="form-control" placeholder="Prénom" formControlName="firstName" id="firstName" required />
            <em *ngIf="testimonialForm.controls['firstName'].hasError('required')" class="text-danger">*</em>
          </div>

          <div class="form-group controls-inline flex-row">
            <input type="text" class="form-control" placeholder="Nom" id="lastName" formControlName="lastName" required />
            <em *ngIf="testimonialForm.controls['lastName'].hasError('required')" class="text-danger">*</em>
          </div>
        </div>
        <span *ngIf="testimonialForm.controls['firstName'].hasError('minlength') || testimonialForm.controls['lastName'].hasError('minlength')" class="text-danger text-error col-sm-12">
          Le texte saisi doit avoir un minimum de 3 caractères.
        </span>
        <span *ngIf="testimonialForm.controls['firstName'].hasError('maxlength') || testimonialForm.controls['lastName'].hasError('maxlength')" class="text-danger text-error col-sm-12">
          Le texte saisi doit avoir un maximum de 50 caractères.
        </span>
        <span *ngIf="testimonialForm.controls['firstName'].hasError('pattern') || testimonialForm.controls['lastName'].hasError('pattern')" class="text-danger text-error col-sm-12">
          Seuls les caractères alphanumériques sont acceptés.
        </span>

        <div class="flex-row">
          <div class="form-group controls-inline flex-row">
            <input type="text" class="form-control" placeholder="Métier" id="job" formControlName="job" required />
            <em *ngIf="testimonialForm.controls['job'].hasError('required')" class="text-danger">*</em>
          </div>

          <div class="form-group controls-inline flex-row">
            <input type="text" class="form-control" placeholder="Entreprise" id="company" formControlName="company" />
          </div>
        </div>
        <span *ngIf="testimonialForm.controls['job'].hasError('maxlength') || testimonialForm.controls['company'].hasError('maxlength')" class="text-danger text-error col-sm-12">
          Le texte saisi doit avoir un maximum de 50 caractères.
        </span>
        
        <div id="selectTypeConnaissance">
          <ng-select2 [data]="typesConnaissances | async"
                      formControlName="typeConnaissanceId"
                      placeholder="Sur quelle base relationnelle votre commentaire repose-t-il ?"
                      (valueChanged)="changed($event)"
                      class="form-group controls flex-row"
                      required>

          </ng-select2>
          <em *ngIf="testimonialForm.controls['typeConnaissanceId'].hasError('required')" class="text-danger">*</em>
        </div>

        <div class="hide-or-show">
          <div class="form-group flex-row controls control-note">
            <label class="form-note-label" for="note">Note (de 1 à 5) : </label>
            <input type="range" class="form-control custom-slider" placeholder="Note" id="note" formControlName="note" min="1" max="5" step="1" />
            <em *ngIf="testimonialForm.controls['note'].hasError('required')" class="text-danger">*</em>
          </div>


          <div class="form-group flex-row controls">
            <textarea class="form-control" placeholder="Sélectionnez un type de relation dans la liste ci-dessus pour afficher un guide de rédation, puis rédigez ici votre commentaire." id="testimonial" formControlName="testimonial" required></textarea>
            <em *ngIf="testimonialForm.controls['testimonial'].hasError('required')" class="text-danger">*</em>
          </div>
          <span *ngIf="testimonialForm.controls['testimonial'].hasError('minlength')" class="text-danger text-error col-sm-12">
            Le texte saisi doit avoir un minimum de 150 caractères.
          </span>
          <span *ngIf="testimonialForm.controls['testimonial'].hasError('maxlength')" class="text-danger text-error col-sm-12">
            Le texte saisi doit avoir un maximum de 350 caractères.
          </span>

          <div class="form-group flex-row form-check controls">
            <input type="checkbox" class="form-check-input" id="agree" formControlName="agree" required />
            <em *ngIf="testimonialForm.controls['agree'].hasError('required')" class="text-danger">*</em>
            <label class="form-check-label" for="agree" required>En cochant cette case, vous acceptez que les informations saisies dans ce formulaire soient exploitées afin d'enrichir le contenu de ce site web dans les pages mentionnant les avis.<b>*</b></label>

            <input type="hidden" id="token" formControlName="token" />
          </div>
        </div>

        <div class="form-group text-center controls" id="testimonialSubmit">
          <div *ngIf="!f.valid" tooltip="{{ tooltip }}"
               placement="bottom">
            <button type="submit"
                    class="btn btn-action-primary"
                    [disabled]
                    mat-button>
              Enregistrer
            </button>
          </div>
          <div *ngIf="f.valid">
            <button mat-button
                    type="submit"
                    class="btn btn-action-primary"
                    swIsLoading='testimonialForm-submited'
                    [disabled]="!f.valid">
              Enregistrer
            </button>
          </div>
        </div>

      </form>
      <div [ngClass]="{'success' : success === true, 'error' : error === true}">
        <img src="../../assets/img/undraw_testimonial.png" alt="commentaires"/>
        <span>{{resmessage}}</span>
      </div>
    </div>
    </div>
</div>
